@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 240 21.052631735801697% 14.901961386203766%; /* base */
  --foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

  --muted: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
  --muted-foreground: 227 35.29411852359772% 80.0000011920929%; /* subtext1 */

  --popover: 240 21.052631735801697% 14.901961386203766%; /* base */
  --popover-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

  --card: 240 21.052631735801697% 14.901961386203766%; /* base */
  --card-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

  --border: 234 13.20754736661911% 31.176471710205078%; /* surface1 */
  --input: 234 13.20754736661911% 31.176471710205078%; /* surface1 */

  --primary: 217 91.86992049217224% 75.88235139846802%; /* accent - Blue */
  --primary-foreground: 240 21.052631735801697% 14.901961386203766%; /* base */

  --secondary: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
  --secondary-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

  --accent: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
  --accent-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

  --destructive: 343 81.25% 74.90196228027344%; /* red */
  --destructive-foreground: 240 21.311475336551666% 11.96078434586525%; /* mantle */

  --ring: 226 63.93442749977112% 88.03921341896057%; /* text */

  --radius: 0.5rem;

  --chart-1: 343 81.25% 74.90196228027344%; /* red */
  --chart-2: 170 57.35294222831726% 73.33333492279053%; /* teal */
  --chart-3: 217 91.86992049217224% 75.88235139846802%; /* blue */
  --chart-4: 41 86.04651093482971% 83.13725590705872%; /* yellow */
  --chart-5: 115 54.09836173057556% 76.07843279838562%; /* green */
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}
.animate.show {
  @apply translate-y-0 opacity-100;
}
