@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 160 84% 39%;
    --primary-foreground: 215 28% 17%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 160 84% 39%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 160 84% 39%;
    --chart-1: 160 84% 39%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --scroll: #2d3748;

    --sh-bg: #1a202c;
    --sh-identifier: #6ee7b7;
    --sh-keyword: #34d399;
    --sh-string: #a7f3d0;
    --sh-class: #5eead4;
    --sh-property: #22d3ee;
    --sh-entity: #2dd4bf;
    --sh-jsxliterals: #ecfdf5;
    --sh-sign: #94a3b8;
    --sh-comment: #64748b;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 160 84% 39%;
    --primary-foreground: 215 28% 17%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 160 84% 39%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 160 84% 39%;
    --chart-1: 160 84% 39%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --scroll: #2d3748;

    --sh-bg: #1a202c;
    --sh-identifier: #6ee7b7;
    --sh-keyword: #34d399;
    --sh-string: #a7f3d0;
    --sh-class: #5eead4;
    --sh-property: #22d3ee;
    --sh-entity: #2dd4bf;
    --sh-jsxliterals: #ecfdf5;
    --sh-sign: #94a3b8;
    --sh-comment: #64748b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  @apply text-[#333333] dark:text-[#D4D4D4];
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  max-width: 65ch;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply font-normal text-[#333333] decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:text-[#D4D4D4] dark:decoration-neutral-600;
}

.prose a:hover {
  @apply decoration-neutral-600 dark:decoration-neutral-400;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply overflow-x-auto rounded-lg bg-[var(--sh-bg)] dark:bg-[var(--sh-bg)];
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  position: fixed;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scroll);
}
